body {
  background-color: #1f1f1f;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #151717;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav_links {
  display: flex;
  gap: 20px;
}

.nav_links a {
  color: white;
  text-decoration: none;
  font-family: monospace;
}

.img_nav {
  width: 100px;
  height: 100%;
}

.slide {
  width: 100%;
  height: auto;
}

.img_nav_lua {
  position: fixed;
  right: 50px;
  width: 50px;
  height: 50px;
}

#sec_sobre {
  display: grid;
  justify-content: center;
  gap: 10px;
  padding: 100px;
}

#sec_sobre_h1 {
  text-align: center;
  color: white;
  font-family: "Alexandria", sans-serif;
  font-size: 30px;
}

.container__cards__sobre{
  display: flex;
  justify-content:space-evenly;
}

.card__sobre{
  max-width: 300px;
  height: auto;
  text-align: center;
}
