body {
  background-color: #1f1f1f;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #151717;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 0px 0px 20px;
  z-index: 3;
}

.nav_links {
  display: flex;
  gap: 20px;
}

.nav_links a {
  color: white;
  text-decoration: none;
  font-family: "Alexandria", sans-serif;
}

.img_nav {
  width: 100px;
  height: 100%;
}

.slide {
  margin-top: 100px;
  width: 100%;
  height: auto;
}

.img_nav_lua {
  position: fixed;
  right: 50px;
  width: 50px;
  height: 50px;
}

#sec_sobre {
  display: grid;
  justify-content: center;
  gap: 20px;
  min-height: 30vh;
  background-color: #2e3030;
  padding: 50px;
}

#sec_sobre_h1 {
  text-align: center;
  color: white;
  font-family: "Alexandria", sans-serif;
  font-size: 30px;
}

.container__cards__sobre {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10%;
}

.card__sobre {
  flex: 1 1 10px;
  max-width: 32%;
  height: auto;
  text-align: left;
  background-color: #1e9599;
  font-family: "Alexandria", sans-serif;
  color: white;
  border-radius: 20px;
  padding: 0px 30px 30px 30px;
  box-sizing: border-box;
}

.card_h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card_h3 {
  font-size: 16.5px;
  text-align: justify;
}

.card__sobre__texto {
}

.triangle {
  width: 0;
  height: 0;
  border: 15vh solid transparent;
  border-bottom: 0;
  border-top: 200px solid #1b8589;
  margin: 0 auto 20px auto;
}

.letra__Grande {
  font-size: 40px;
}

.container_geral {
  display: grid;
  gap: 100px;
}

#sec_solucoes {
  text-align: center;
  color: white;
  font-family: "Alexandria", sans-serif;
  font-size: 30px;
  background-color: #2e3030;
  padding: 30px;
  min-height: 700px;
  overflow: hidden;
}

.container__carrosel {
  position: relative; /* Por causa dos botões absolutos */
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carrosel__viewport {
  overflow: hidden;
  width: 100vw;
}

.carrosel__view {
  display: flex;
  transition: margin-left 0.5s ease;
  width: 300vw;
}

.carrosel__slide1 {
  height: 700px;
  width: 100vw;
  z-index: 0;
  display: flex;
  justify-content: space-around;
  margin-left: 150px;
  margin-right: 240px;
  margin-top: 20px;
}

.carrosel_slide1__containerTec {
  width: 30%;
  height: 80%;
  background-color: #151717;
  display: grid;
  border-radius: 30px;
}

.carrosel_slide1__containerImg {
  width: 60%;
  height: 80%;
  background-color: beige;
  overflow: hidden;
  border-radius: 30px;
}

.carrosel_slide1__containerImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.containerTec__Empresa {
  display: flex;
  padding: 30px;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.containerTec__Empresa img {
  width: 30%;
  height: 40%;
}

.containerTec__Tecnologias__images {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.containerTec__Tecnologias__images img {
  width: 20%;
  height: 100%;
}

.button_left {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 20px;
  top: 40%;
  border-radius: 100%;
  background-color: #000000;
  border: none;
  outline: 0;
  cursor: pointer;
  color: white;
  font-size: 45px;
  z-index: 1;
}

.button_right {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 20px;
  top: 40%;
  border-radius: 100%;
  background-color: #000000;
  border: none;
  outline: 0;
  cursor: pointer;
  color: white;
  font-size: 45px;
  z-index: 1;
}

#sec_contato {
  min-height: 30vh;
  text-align: center;
  color: white;
  font-family: "Alexandria", sans-serif;
  font-size: 30px;
  padding: 30px 10px 50px 10px;
  background-color: #2e3030;
}

#sec_contato h1 {
  margin-bottom: 50px;
}

.content__contato {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.form__contato {
  padding: 30px;
  min-width: 300px;
  background-color: #151717;
  border-radius: 30px;
}

.container__input {
  display: grid;
  text-align: left;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
}
.container__input label {
  font-size: 20px;
}
.input__form1 {
  width: 100%;
  height: 50px;
  background-color: #404040;
  border-radius: 15px;
  border: 0px transparent;
  color: white;
  font-family: "Alexandria", sans-serif;
  padding: 0px 0px 0px 10px;
}
.input__form2 {
  width: 96%;
  height: 110px;
  background-color: #404040;
  border-radius: 15px;
  border: 0px transparent;
  color: white;
  font-family: "Alexandria", sans-serif;
  padding: 10px;
  resize: none;
  overflow: hidden;
}
.form__button {
  background-color: #1e9599;
  width: 100%;
  height: 20%;
  cursor: pointer;
  border: 0px transparent;
  border-radius: 30px;
  color: white;
  font-family: "Alexandria", sans-serif;
  font-size: 20px;
  margin-top: 10px;
}

.iframe {
  border-radius: 30px;
}

.footer {
  margin-top: 30px;
  background-color: #151717;
  color: white;
  font-family: "Alexandria", sans-serif;
}

.container__footer {
  padding: 20px 10px 10px 20px;
}
.container__bottom__footer {
  padding: 10px 10px 20px 20px;
  display: flex;
}

.container__bottom__footer__images {
  display: flex;
  position: absolute;
  gap: 10px;
  right: 20px;
}

.footer_h1 {
  font-size: 30px;
  padding: 10px 0px 5px 0px;
}

.footer_h2 {
  font-size: 20px;
  padding: 10px 0px 0px 0px;
}

.img__footer {
  width: 30px;
  height: 30px;
}
