body {
  background-color: #1f1f1f;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #151717;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px 0px 0px 20px;
}

.nav_links {
  display: flex;
  gap: 20px;
}

.nav_links a {
  color: white;
  text-decoration: none;
  font-family: "Alexandria", sans-serif;
}

.img_nav {
  width: 100px;
  height: 100%;
}

.slide {
  margin-top: 100px;
  width: 100%;
  height: auto;
}

.img_nav_lua {
  position: fixed;
  right: 50px;
  width: 50px;
  height: 50px;
}

#sec_sobre {
  display: grid;
  justify-content: center;
  gap: 20px;
  min-height: 30vh;
  background-color: #2E3030;
  padding: 50px;
}

#sec_sobre_h1 {
  text-align: center;
  color: white;
  font-family: "Alexandria", sans-serif;
  font-size: 30px;
}

.container__cards__sobre {
  display: flex;
  justify-content: space-evenly;
  gap: 10%;
}

.card__sobre {
  width: 100%;
  height: auto;
  text-align: left;
  background-color: #1e9599;
  font-family: "Alexandria", sans-serif;
  color: white;
  border-radius: 20px;
  padding: 0px 30px 30px 30px;  
}

.card__sobre__texto {
}

.triangle{
  width: 0;
  height: 0;
  border: 15vh solid transparent;
  border-bottom: 0;
  border-top: 200px solid #1B8589;

}

.letra__Grande{
  font-size: 40px;
}

.container_geral {
  display: grid;
  gap: 100px;
}

#sec_solucoes {
  text-align: center;
  color: white;
  font-family: "Alexandria", sans-serif;
  font-size: 30px;
  background-color: #2E3030;
}


#sec_contato{
  min-height: 30vh;
  text-align: center;
  color: white;
  font-family: "Alexandria", sans-serif;
  font-size: 30px;
  padding: 30px 10px 50px 10px;
 background-color: #2E3030;
}

#sec_contato h1{
  margin-bottom: 50px;
}

.content__contato{
    display: flex;
    justify-content: center;
    gap: 100px;
    
}



.form__contato{
  padding: 30px;
  min-width: 300px;
  background-color: #151717;
  border-radius: 30px;
}

.container__input{
  display: grid;
  text-align: left;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
}
.input__form1{
  width: 100%;
  height: 50px;
  background-color: #404040;
  border-radius: 15px;
  border: 0px transparent;
  color: white;
  font-family: "Alexandria", sans-serif;
  padding: 0px 0px 0px 10px;
  
}
.input__form2{
  width: 96%;
  height: 110px;
  background-color: #404040;
  border-radius: 15px;
  border: 0px transparent;
  color: white;
  font-family: "Alexandria", sans-serif;
  padding: 10px;
  resize: none;
  overflow: hidden;
}
.form__button{
  background-color: #1E9599;
  width: 100%;
  height: 20%;
  cursor: pointer;
  border: 0px transparent;
  border-radius: 30px;
  color: white;
  font-family: "Alexandria", sans-serif;
  font-size: 20px;
  margin-top: 10px;
}

.iframe{
  border-radius: 30px;
}

.footer{
  margin-top: 30px;
  background-color: #151717;
  color: white;
  font-family: "Alexandria", sans-serif;
}